<% form_for @product do |f| %>
<%= f.error_messages %>
<p>
        <%= f.label :name %> <br />
        <%= f.text_field :name %> <br />
        <%= f.label :price %> <br />
        <%= f.text_field :price %> <br />
        <%= f.label :unit_id %> <br />
        <%= f.collection_select :unit_id, @units, :id, :name %> <br />
        
        <%= f.label :description %> <br />
        <%= f.text_area :description %> <br />
        <%= f.label :picture_url %> <br />
        <%= f.text_field :picture_url %> <br />
        <%= f.label :category_id %> <br />
        <%= f.collection_select :category_id, @categories, :id, :name %>
</p>
<p>
        <%= f.submit (t :post) %>
</p>
<% end %>

