<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <meta name="generator"
          content=
          "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org">
          
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8">
    <%= stylesheet_link_tag("main") %>
    <title>Kokosanka</title>
  </head>
  <body>
    <div id="templateholder">
      <div id="header">
        <div id="logo">
          <h1>
            <%= link_to image_tag("banner.gif", :border => 0, :alt => "Kokosanka - ugly website, delicious cakes"), root_path %>          
          </h1>
        </div>
        <div id="header_links">
          <p>
            <%= link_to "Zaloguj się", admin_root_path %> | 
	    <%= link_to "Zarejestruj się", "/admins/sign_up" %>
          </p>
        </div>
      </div>
      <div id="searchbar">
      <%= form_for @search, :url => root_path, :html => {:method => :get} do |f| %>
        <%= field_set_tag "Wyszukiwanie produków" do %>
         <%= f.label "Szukaj:" %>
         <%= f.text_field :name_or_description_contains %>
         <%= f.submit "No to lecimy!" %>
       <% end %>
      <% end %>           
      </div>
      <div id="colcontainer">
        <div id="categories">
          <%= render :partial => "shared/category_list" %>
        </div>
        <div id="maincol">
          <%= content_for :product_list %>
        </div>
        <div id="others">
            <% if @cart.empty? %>
            <h2>Twój koszyk jest pusty.</h2>            
            <% else %>
            <h2>Zawartość Twojego koszyka:</h2>
            
            <ul>
                <% for item in @cart.items %>
                    <li><%= item.quantity %> &times; <%=h item.product.name %></li>
                <% end %>
            </ul>
            <%= link_to "Opróżnij koszyk", :controller => "home", :action => "empty_cart" %>
            <% end %>
        </div>
       </div>
      <div id="footer">
        <p>
          We know that it sucks.
          <%= link_to "Panel administratora", admin_root_path %>
        </p>
      </div>
    </div>
  </body>
</html>
